# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/

# Virtual environment (local venv in project root)
Include/
Lib/
Scripts/
pyvenv.cfg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
secrets/
.env
*.pem
*.key

# test/  Output / cache
tests/

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py

# Docker
*.log
